<%include partials/header%>
<div class="container">

	<div class="row">
    	<!-- BEGIN PRODUCTS -->
		<%results.forEach(function(row){ %>
  		<div class="col-md-3 col-sm-6">
    		<span class="thumbnail">
      			<img src="/placeholder.jpg" alt="...">
      			<h4><%=row[0].slice(0,20)+((row[0].length > 19)?"...":"") %></h4>
              <p><strong>Seller:</strong> <%=row[1]+" "+row[2]%></p>
        			<p><strong>Author:</strong> <%=row[3]%> </p>
              <p><strong>ISBN:</strong> <%=row[4]%> </p>
      			<hr class="line">
      			<div class="row">
      				<div class="col-md-6 col-sm-6">
      					<p class="price">$<%=row[5]+".00"%></p>
      				</div>
      				<div class="col-md-6 col-sm-6">
      					<a href="#"><button class="btn btn-success right" > BUY ITEM</button></a>
      				</div>
      			</div>
    		</span>
  		</div>
		  <% })%>
  		<!-- END PRODUCTS -->
	</div>
	<a class="btn btn-primary pull-right" href="/buy/<%=rangeStart+':'+rangeEnd%>">Next Page</a>
	<% if(rangeStart != 24 ){ %>
	<% var begin = rangeStart-48; %>
	<% var end = rangeEnd-24; %>
	<a class=" btn btn-primary pull-right" href="/buy/<%= begin+':'+end %>">Previous Page</a>
	<% } %>
</div>
<%include partials/footer%>
