<% include partials/header %>
<div class="container">


  <div class="row">
       <div class="col-lg-6 col-sm-6">

          <h1><%=results[0][0]%></h1>
          <h5><strong>By: </strong><%=results[0][1]%></h5>
          <h5><strong>Date published: </strong><%=results[0][2].getMonth()+"/"+results[0][2].getDay()+"/"+results[0][2].getFullYear()%></h5>
          <h5><strong>ISBN: </strong> <%=results[0][3]%></h5>
          <h5><strong>Condition: </strong> <%=results[0][4]%></h5>
          <h5><strong>Average Price: </strong> </h5>
          <br>
          <h5><strong>Seller: </strong><%=results[0][5]%> <%=results[0][6]%></h5>
          <h5><strong>Contact seller: </strong><%=results[0][7]%> </h5>
      
          <div class="row">
            <div class="col-md-6 col-sm-6">
                <p class="price">$<%=results[0][8]%>.00</p>
            </div>
            <div class="col-md-6 col-sm-6">
                  <a href=""><button class="btn btn-success right"> BUY ITEM</button></a>
            </div>

          </div>
       </div>
      

      <div class="col-lg-6 col-sm-6">
        
          <img src="/placeholder.jpg" alt="...">
       
        <p class="pull-right">listing-id: <%=results[0][9]%></p>
      </div>
  </div>

   
</div>


<% include partials/footer %>